<!DOCTYPE html>
<html>
<head>
  <title>GraphQL Client</title>
</head>
<body>
  <h1>Mensaje del servidor GraphQL:</h1>
  <p><%= message %></p>
  <h1>Respuesta de la API GraphQL:</h1>
  <pre><%= JSON.stringify(data, null, 2) %></pre>
</body>
</html>
